force-app/main/default/flows/Send_Whatsapp_For_Missed_Call.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>Send Whatsapp For Missed Call {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Whatsapp For Missed Call</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_SMS_Tempate</name>
        <label>Create SMS Tempate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Send_whatsapp_Template</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Lead__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tdc_tsw__Channel__c</field>
            <value>
                <stringValue>SMS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tdc_tsw__Lead__c</field>
            <value>
                <elementReference>$Record.Lead__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tdc_tsw__Object_Name__c</field>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tdc_tsw__Phone_Api__c</field>
            <value>
                <elementReference>$Record.Lead__r.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tdc_tsw__Related_Object_Id__c</field>
            <value>
                <elementReference>$Record.Lead__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tdc_tsw__SMS_Template__c</field>
            <value>
                <stringValue>a0bOS00000OLtq6YAD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tdc_tsw__Sender_Number__c</field>
            <value>
                <stringValue>ZUARIN</stringValue>
            </value>
        </inputAssignments>
        <object>tdc_tsw__Scheduled_Sms__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Send_whatsapp_Template</name>
        <label>Send whatsapp Template</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Lead__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tdc_tsw__Channel__c</field>
            <value>
                <stringValue>WhatsApp</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tdc_tsw__Lead__c</field>
            <value>
                <elementReference>$Record.Lead__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tdc_tsw__Object_Name__c</field>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tdc_tsw__Phone_Api__c</field>
            <value>
                <elementReference>$Record.Lead__r.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tdc_tsw__Related_Object_Id__c</field>
            <value>
                <elementReference>$Record.Lead__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tdc_tsw__SMS_Template__c</field>
            <value>
                <stringValue>a0bOS00000OEvQPYA1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tdc_tsw__Sender_Number__c</field>
            <value>
                <stringValue>917406200000</stringValue>
            </value>
        </inputAssignments>
        <object>tdc_tsw__Scheduled_Sms__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_SMS_Tempate</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer Busy</stringValue>
            </value>
        </filters>
        <object>Call_Detail__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
